{% extends "map_browser/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    <title>Zaloguj się</title>
{% endblock title %}
{% block content %}
    {% csrf_token %}
    <form method="POST">

        <div class="d-flex user-form align-items-center justify-content-center">
            <div class="col-md-4">
                <img src="{% static "map_browser/images/umcs_logo.png" %}" alt="UMCS-logo" style="max-width: 100%">
            </div>
            <div class=" col-md-4 col-8 p-4 ">
                <div>
                    {% crispy form %}
                </div>
                <div>
                    <input type="submit" name="submit" value="Zaloguj się" class="btn btn-secondary" id="submit-id-submit">
                </div>
            </div>
        </div>
    </form>
{% endblock content %}