{% extends "map_browser/base.html" %}
{% block title %}
    <title>Wylogowano</title>
{% endblock title %}
{% block content %}
    <div class="col-md-6">
        <form>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingInput" placeholder="Hasło">
              <label for="floatingInput">Hasło</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" id="pwd2" placeholder="Potwierdź Hasło">
              <label for="pwd2">Potwierdź Hasło</label>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Zatwierdź</button>
        </form>
    </div>
{% endblock content %}