{% extends "map_browser/base.html" %}
{% block title %}
    <title>{{ object.title }}</title>
{% endblock title %}
{% block content %}
    <div class="row">
        <h1>{{ object.title }}</h1>
        <p>{{ object.added_at| date:"d/m/Y" }}</p>
{#        {% if user in object.creator.all or user.is_superuser %}#}
{#            <p><a href="{% url 'edytuj' map.id %}">Kliknij tutaj aby edtować</a></p>#}
{#            <p><a href="{% url 'usun' map.id %}" style="color: darkred">Kliknij tutaj aby usunąć</a></p>#}
{#        {% endif %}#}
    </div>
    <div class="row row-cols-md-2">

    {% if object.doc_file %}
        <div class="col">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-bs-toggle="tab" href="#dokument">Dokumnet Oryginalny</a>
                </li>
                {% if object.translation_file %}
                    <li class="nav-item">
                      <a class="nav-link" data-bs-toggle="tab" href="#tlumaczenie">Tłumaczenie</a>
                    </li>
                {% endif %}
            </ul>

          <!-- Tab panes -->
            <div class="tab-content">
                <div id="dokument" class="container tab-pane active"><br>
                    <div class="col pe-4">
                        <object data="{{ object.doc_file.url }}" width="100%" height="700px"></object>
                    </div>
                </div>
                {% if object.translation_file %}
                    <div id="tlumaczenie" class="container tab-pane fade"><br>
                        <div class="col pe-4">
                            <object data="{{ object.translation_file.url }}" width="100%" height="700px"></object>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}



        <div class="col">
            {% if object.description %}
                <h5><strong>Opis</strong></h5>
                <p>
                    {{ object.description }}
                </p>
            {% endif %}
            {% if object.link %}
                <p><strong>Link do mapy:</strong></p>
                <a href="{{ object.link }}">{{ object.link }}</a>
            {% endif %}
            {% if object.language_id %}
                <p><strong>Język mapy:</strong>
                    {% for lang in object.language_id.all %}
                        {% if not forloop.last %}
                            {{ lang }},
                        {% else %}
                            {{ lang }}
                        {% endif %}
                    {% endfor %}
                </p>
            {% endif %}
            {% if object.creator %}
                <p><strong>Osoby dodajce mapę:</strong>
                    {% for creator in object.creator.all %}
                        {{ creator }}
                    {% endfor %}
                </p>
            {% endif %}

            <h5><strong>Mapy Referencyjne</strong></h5>
            {% if page_obj %}
                <ul class="list-group">
                {% for map in page_obj %}
                    <li class="list-group-item"><a href={% url 'map-detail' map.id %}>{{ map.full_title }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
            {% if is_paginated %}
                <nav aria-label="mapy-paginator" >
                    <ul class="pagination justify-content-end mt-4">
                        {% if page_obj.has_previous %}
                            {% if not page_obj.previous_page_number == 1 %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">&laquo; 1</a>
                            </li>
                            {% endif %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                            </li>
                        {% endif %}

                        <li class="page-item active" aria-current="page">
                            <span class="page-link">{{ page_obj.number }}</span>
                        </li>

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                            </li>
                            {% if not page_obj.next_page_number == page_obj.paginator.num_pages %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }} &raquo; </a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
{% endblock content %}