{% extends "map_browser/base.html" %}
{% load crispy_forms_filters %}
{% load templatehelper %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    <title>Przeglądaj dokumenty</title>
{% endblock title %}
{% block content %}

    <div class="row justify-content-between mb-3">
        <div class="col">
            <a href="{% url 'eksport-dokumentow' %}" class="btn btn-outline-secondary" type="submit">Pobierz raport dokumentów</a>
        </div>
        <div class="col-md-3 col-6">
            <form method="get">
                <div class="input-group">
                    <label for="search"></label>
                    <input id="search" name="title" class="form-control" {% if title %} value="{{ title }}" {% else %}placeholder="Wpisz tytuł..."{% endif %}>
                    <div class="input-group-append">
                        <button class="search-btn btn btn-outline-primary" type="submit">Szukaj</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if document_list %}
    <div class="row row-cols-sm-1 row-cols-md-1 row-cols-lg-2 g-4">
        {% for doc in document_list %}
            <a class="card-as-link" href="{% url 'szczegoly-dokumenty' doc.id %}">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4 ">
                            {% if doc.thumbnail %}
                                <img src="{{ doc.thumbnail.url }}" class="img-fluid rounded-start doc-thumbnail" alt="Miniaturka Dokumentu">
                            {% else %}
                                <img src="{% static "map_browser/images/placeholder.png" %}" class="img-fluid rounded-start doc-thumbnail" alt="Miniaturka Dokumentu">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ doc.title|truncatechars:100 }}</h5>
                                <p class="card-text">{{ doc.description|truncatechars:300 }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    {% else %}
        <div class="d-flex justify-content-center align-items-mid" style="margin-top: 50px">
            <div>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{% static "map_browser/images/search-remove-icon.png" %}" alt="Brak wyników" style="max-height: 150px">
                </div>
                <h3 class="text-center">Brak wyników!</h3>
                <h5 class="text-center">Nie udało się znaleźć żadnego dokumentu pasującego do frazy <i>"{{ title }}"</i>, sprawdź pisownie lub spróbuj z inną frazą!</h5>
            </div>
        </div>
    {% endif %}
    </div>
    {% if is_paginated %}
    <nav aria-label="dokumenty-paginator" >
        <ul class="pagination justify-content-end mt-4">
            {% if page_obj.has_previous %}
                {% if not page_obj.previous_page_number == 1 %}
                <li class="page-item">
                    <a class="page-link" href="{% relative_url i 'page' request.GET.urlencode %}&page=1">&laquo; 1</a>
                </li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link" href="{% relative_url i 'page' request.GET.urlencode %}&page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                </li>
            {% endif %}

            <li class="page-item active" aria-current="page">
                <span class="page-link">{{ page_obj.number }}</span>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% relative_url i 'page' request.GET.urlencode %}&page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                </li>
                {% if not page_obj.next_page_number == page_obj.paginator.num_pages %}
                    <li class="page-item">
                        <a class="page-link" href="{% relative_url i 'page' request.GET.urlencode %}&page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }} &raquo; </a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>
    {% endif %}
{% endblock content %}