{% extends "map_browser/base.html" %}
{% load static %}
{% block title %}
    <title>{{ object.title }}</title>
{% endblock title %}
{% block content %}

    {#  navigation between prev and next page  #}
    <div class="row justify-content-between pb-3 pe-0">
        <div class="col-4">
            {% if prev_object %}
{#                <a href="{% url 'szczegoly-dokumenty' prev_doc.id %}">&laquo; Poprzedni</a>#}
                <button onclick="location.href='{% url 'szczegoly-dokumenty' prev_object.id %}'" type="button" class="btn btn-outline-dark btn-sm">
         &laquo; Poprzedni</button>
            {% endif %}
        </div>

        <div class="col-4 text-end">
            {% if next_object is not None %}
{#                <a href="{% url 'szczegoly-dokumenty' next_doc.id %}">Następny &raquo;</a>#}
                <button onclick="location.href='{% url 'szczegoly-dokumenty' next_object.id %}'" type="button" class="btn btn-outline-dark btn-sm">
         Następny &raquo;</button>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <h1>{{ object.title }}</h1>
        <div>
            <div class="row">
{#                <div class="col d-flex">#}
{#                    <span class="me-2">{{ object.added_at| date:"d/m/Y" }}</span>#}
{#                </div>#}
                <div class="col-10">
                    <h6>
                    {% if object.category.all %}
                        Kategoria:
                        {% for type in object.category.all %}
                            <span class="badge rounded-pill bg-dark mt-3">{{ type }}</span>
                        {% endfor %}
                    {% endif %}
                    </h6>
                </div>
                <div class="col-2 d-flex justify-content-end">
                    {% if user in object.creator.all or user.is_superuser %}
                        <span class="me-4"><a href="{% url 'edytuj-dokument' object.id %}"><img
                                class="action-buttons-detail" style="max-width: 16px"
                                src="{% static 'map_browser/images/pencil.png' %}" alt="Edytuj"></a></span>
                        <span><a href="{% url 'usun-dokument' object.id %}"><img class="action-buttons-detail"
                                                                                 style="max-width: 16px"
                                                                                 src="{% static 'map_browser/images/bin.png' %}"
                                                                                 alt="Usuń"></a></span>
                    {% endif %}
                </div>
            </div>

        </div>
{#        <h5>{% for type in object.category.all %}<span class="badge rounded-pill bg-secondary mt-3">{{ type }}</span> {% endfor %}</h5>#}
    </div>

    <div class="row row-cols-md-2 row-cols-1">

        {% if not object.link %}
            {% if object.doc_file %}
                <div class="col">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#dokument">Dokumnet oryginalny</a>
                        </li>
                        {% if object.translation_file %}
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tlumaczenie">Tłumaczenie</a>
                            </li>
                        {% endif %}
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="dokument" class="container tab-pane active"><br>
                            <div class="col">
                                <object data="{{ object.doc_file.url }}" width="100%" height="700px"></object>
                            </div>
                            <p>Dokument można zobaczyć również <a href="{{ object.doc_file.url }}">tutaj</a></p>
                        </div>
                        {% if object.translation_file %}
                            <div id="tlumaczenie" class="container tab-pane fade"><br>
                                <div class="col">
                                    <object data="{{ object.translation_file.url }}" width="100%"
                                            height="700px"></object>
                                </div>
                                <p>Tłumaczenie można zobaczyć również <a
                                        href="{{ object.translation_file.url }}">tutaj </a></p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endif %}

        <div class="col">
            {% if object.description %}
                <h5><strong>Opis</strong></h5>
                <p>
                    {{ object.description|urlize|linebreaksbr }}
                </p>
            {% endif %}

            <div class="accordion" id="accordionPanelsStayOpenExample">
                {% if object.language_id or object.authors or object.publication_place or object.created_at %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="mapaDane-headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#mapaDane-collapseOne" aria-expanded="true"
                                    aria-controls="mapaDane-collapseOne">
                                Podstawowe informacje
                            </button>
                        </h2>
                        <div id="mapaDane-collapseOne" class="accordion-collapse collapse show"
                             aria-labelledby="mapaDane-headingOne">
                            <div class="accordion-body">
                                {% if object.language_id %}
                                    <p><strong>Język dokumentu:</strong>
                                        {% for lang in object.language_id.all %}
                                            {% if not forloop.last %}
                                                {{ lang }},
                                            {% else %}
                                                {{ lang }}
                                            {% endif %}
                                        {% endfor %}
                                    </p>
                                {% endif %}

                                {% if object.authors.all %}
                                    {% if object.authors.all|length == 1 %}
                                        <p><strong>Autor:</strong>
                                            {% else %}
                                        <p><strong>Autorzy:</strong>
                                    {% endif %}
                                {% for author in object.authors.all %}
                                    {% if forloop.last %}
                                        {{ author }}
                                    {% else %}
                                        {{ author }},
                                    {% endif %}
                                {% endfor %}
                                </p>
                                {% else %}
                                    <p><strong>Autor nieznany</strong></p>
                                {% endif %}

                                {% if object.publication_place %}
                                    <p><strong>Miejsce wydania: </strong>{{ object.publication_place|linebreaksbr }}
                                    </p>
                                {% endif %}

                                {% if object.created_at %}
                                    <p><strong>Data powstania: </strong>{{ object.created_at }} </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if object %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="mapaDane-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#mapaDane-collapseFour" aria-expanded="false" aria-controls="mapaDane-collapseFour">
                            Dodatkowe informacje
                        </button>
                    </h2>
                    <div id="mapaDane-collapseFour" class="accordion-collapse collapse" aria-labelledby="mapaDane-headingFour">
                        <div class="accordion-body">
                            {% if object.receiver.count > 0 %}
                                <p><strong>Adresat:</strong>
                                    {%  for receiver in object.receiver.all %}
                                        {% if forloop.last %}
                                            {{ receiver }}
                                        {% else %}
                                            {{ receiver }},
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            {% endif %}
                            {% if object.archive_id %}
                                <p><strong>Archiwum:</strong>
                                {{ object.archive_id }}</p>
                            {% endif %}
                            {% if object.source %}
                                <p><strong>Źródło:</strong>
                                {{ object.source }}</p>
                            {% endif %}
                            {% if object.is_statistic_data %}
                                <p><strong>Zawiera dane statystyczne: </strong>Tak</p>
                            {% else %}
                                <p><strong>Zawiera dane statystyczne: </strong>Nie</p>
                            {% endif %}
                            {% if object.is_map %}
                                <p><strong>Zawiera mapę: </strong>Tak</p>
                            {% else %}
                                <p><strong>Zawiera mapę: </strong>Nie</p>
                            {% endif %}
                            {% if object.volume %}
                                <p><strong>Objętość (liczba stron): </strong>{{ object.volume }}</p>
                            {% endif %}
                            {% if object.source_type %}
                                <p><strong>Typ źródła: </strong>{{ object.source_type }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if object.keyword_geo or object.keyword_name or object.keyword_subject %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="mapaDane-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#mapaDane-collapseTwo" aria-expanded="false"
                                    aria-controls="mapaDane-collapseTwo">
                                Słowa kluczowe
                            </button>
                        </h2>
                        <div id="mapaDane-collapseTwo" class="accordion-collapse collapse"
                             aria-labelledby="mapaDane-headingTwo">
                            <div class="accordion-body">
                                {% if object.keyword_geo %}
                                    <p><strong>Słowa kluczowe geograficzne:</strong>
                                        {{ object.keyword_geo }}</p>
                                {% endif %}
                                {% if object.keyword_name %}
                                    <p><strong>Słowa kluczowe imienne:</strong>
                                        {{ object.keyword_name }}</p>
                                {% endif %}
                                {% if object.keyword_subject %}
                                    <p><strong>Słowa kluczowe rzeczowe:</strong>
                                        {{ object.keyword_subject }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if page_obj %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="mapaDane-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#mapaDane-collapseThree" aria-expanded="false"
                                    aria-controls="mapaDane-collapseThree">
                                Mapy referencyjne
                            </button>
                        </h2>
                        <div id="mapaDane-collapseThree" class="accordion-collapse collapse"
                             aria-labelledby="mapaDane-headingThree">
                            <div class="accordion-body">
                                <ul class="list-group mt-2">
                                    {#                                    {% if page_obj %}#}
                                    <ul class="list-group">
                                        {% for map in page_obj %}
                                            <li class="list-group-item"><a
                                                    href={% url 'szczegoly-mapy' map.id %}>{{ map.full_title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    {#                                    {% endif %}#}
                                    {% if is_paginated %}
                                        <nav aria-label="mapy-paginator">
                                            <ul class="pagination justify-content-end mt-4">
                                                {% if page_obj.has_previous %}
                                                    {% if not page_obj.previous_page_number == 1 %}
                                                        <li class="page-item">
                                                            <a class="page-link" href="?page=1">&laquo; 1</a>
                                                        </li>
                                                    {% endif %}
                                                    <li class="page-item">
                                                        <a class="page-link"
                                                           href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                                                    </li>
                                                {% endif %}

                                                <li class="page-item active" aria-current="page">
                                                    <span class="page-link">{{ page_obj.number }}</span>
                                                </li>

                                                {% if page_obj.has_next %}
                                                    <li class="page-item">
                                                        <a class="page-link"
                                                           href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                                                    </li>
                                                    {% if not page_obj.next_page_number == page_obj.paginator.num_pages %}
                                                        <li class="page-item">
                                                            <a class="page-link"
                                                               href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}
                                                                &raquo; </a>
                                                        </li>
                                                    {% endif %}
                                                {% endif %}
                                            </ul>
                                        </nav>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if object.link %}
            <div class="col placeholder_doc pt-3">
                <img src="{% static 'map_browser/images/doc_placeholder.svg' %}" alt="Dokument Placeholder">
                <div class="alert alert-secondary" role="alert">
                    <strong>Zewnętrzny serwis!</strong> Otworzony prze Ciebie dokument przechowywany jest w zewnętrznym serwisie, <a target="_blank" href="{{ object.link }}">kliknij tutaj aby do niego przejść</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}