{% extends "map_browser/base.html" %}
{% load crispy_forms_tags %}
{% load static  %}
    <script src="{% static 'map_browser/js/jquery-3.6.0.min.js' %}"></script>
{% block title %}
    <title>Dodaj dokument</title>
{% endblock title %}
{% block content %}
    <form action="" method="POST" enctype="multipart/form-data">
        {%  csrf_token %}
        <div class="mb-3">
{#            {% crispy doc_form %}#}

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#informacje-o-dokumencie" data-bs-toggle="tab">Informacje o dokumencie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#informacje-o-autorach-i-archiwim" data-bs-toggle="tab">Informacje o autorach i archiwim</a>
                </li>
            </ul>

            <div class="tab-content card-body">
                <div id="informacje-o-dokumencie" class="tab-pane active">
                    <div class="col-12 col-md-8">
                        {{ doc_form.title|as_crispy_field }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ doc_form.description|as_crispy_field }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ doc_form.creator|as_crispy_field }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ doc_form.receiver|as_crispy_field }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ doc_form.created_at|as_crispy_field }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ doc_form.language_id|as_crispy_field }}
                    </div>
                    <div class="col-12 col-md-5">
                        {{ doc_form.doc_file|as_crispy_field }}
                    </div>
                    <div class="col-12 col-md-5">
                        {{ doc_form.translation_file|as_crispy_field }}
                    </div>

                    <div class="col-12 col-md-5">
                        {{ doc_form.link|as_crispy_field }}
                    </div>

                    <div class="col-12 col-md-4">
                        {{ doc_form.is_statistic_data|as_crispy_field }}
                        {{ doc_form.is_map|as_crispy_field }}
                    </div>

                    <div class="col-12 col-md-4">
                        {{ doc_form.volume|as_crispy_field }}
                    </div>
                    <div class="col-12 col-md-4">
                        {{ doc_form.doc_format|as_crispy_field }}
                    </div>
                    <div class="col-12 col-md-4">
                        {{ doc_form.source_type|as_crispy_field }}
                    </div>
                    <div class="col-12 col-md-4">
                        {{ doc_form.source_reference|as_crispy_field }}
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            {{ doc_form.keyword_name|as_crispy_field }}
                        </div>
                        <div class="col-12 col-md-4">
                            {{ doc_form.keyword_subject|as_crispy_field }}
                        </div>
                        <div class="col-12 col-md-4">
                            {{ doc_form.keyword_geo|as_crispy_field }}
                        </div>
                    </div>
                </div>

                <div id="informacje-o-autorach-i-archiwim" class="tab-pane">
                    {{ doc_form.authors|as_crispy_field }}
                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#authorModal">Dodaj nowego autora</button>
                    {{ doc_form.archive_id|as_crispy_field }}
                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#archiveModal">Dodaj nowe archiwum</button>
                </div>
                <div class="d-flex flex-row-reverse">
                    <button type="submit" name="doc_form" class="btn btn-primary">Zapisz</button>
                </div>
            </div>
        </div>
    </form>
        <div class="modal fade" id="authorModal" tabindex="-1" aria-labelledby="authorModalLabel" aria-hidden="true">
          <div class="modal-dialog">
                <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="authorModalLabel">Dodaj nowego autora</h5>
                      </div>
                    <form method="POST" id="people_form">
                        {%  csrf_token %}
                        <div class="modal-body">
                            {{ people_form.last_name|as_crispy_field }}
                            {{ people_form.first_name|as_crispy_field }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Zamknij</button>
                            <button type="submit" name="{{ people_form.prefix }}" id="save_people_form" class="btn btn-primary">Zapisz</button>
                        </div>
                    </form>
                </div>
          </div>
        </div>

        <div class="modal fade" id="archiveModal" tabindex="-1" aria-labelledby="archiveModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                    <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="archiveModalLabel">Dodaj nowe archiwum</h5>
                          </div>
                        <form method="POST" id="archive_form">
                            {%  csrf_token %}
                            <div class="modal-body">
                                {{ archive_form.archive_name|as_crispy_field }}
                                {{ archive_form.archive_team|as_crispy_field }}
                                {{ archive_form.archive_unit|as_crispy_field }}
                                {{ archive_form.archive_number|as_crispy_field }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Zamknij</button>
                                <button type="submit" name="{{ archive_form.prefix }}" id="save_archive_form" class="btn btn-primary">Zapisz</button>
                            </div>
                        </form>
                    </div>
              </div>
        </div>


    <script src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>

{#  2nd dynamic modal  #}
    <script type="text/javascript">
    $(document).on('submit','#people_form', function(e){

        e.preventDefault();
        let save_btn = document.getElementById('save_people_form');
        save_btn.innerHTML = '<div class="spinner-border" role="status"> <span class="visually-hidden">Loading...</span> </div>'

        let select = document.getElementById('id_doc_form-authors')
        let first_name = document.getElementById("id_people_form-first_name")
        let last_name = document.getElementById("id_people_form-last_name")

        $.ajax({
            type:'POST',
            url:'{% url "dodaj-dokument" %}',
            data:
            {
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                'people_form-first_name':$("#id_people_form-first_name").val(),
                'people_form-last_name':$("#id_people_form-last_name").val(),
                'people_form': ''

            },
            success:function(){
                $('#authorModal').modal('hide');
                save_btn.innerHTML = 'Save'
                save_btn.removeAttribute('disabled')
                let opt = document.createElement('option');
                opt.value = $('#id_doc_form-authors option:last').val();
                opt.value = parseInt(opt.value) + 1
                opt.innerHTML = last_name.value + " " + first_name.value;
                first_name.value = null
                last_name.value = null
                select.appendChild(opt);
            },

            error:function (){
                $('#authorModal').modal('hide');
                save_btn.innerHTML = 'Save'
                save_btn.removeAttribute('disabled')
            }

            })
    });
    </script>


{#  2nd dynamic modal  #}
    <script type="text/javascript">
    $(document).on('submit','#archive_form', function(e){
        e.preventDefault();

        let save_btn = document.getElementById('save_archive_form');
        save_btn.innerHTML = '<div class="spinner-border" role="status"> <span class="visually-hidden">Loading...</span> </div>'
        save_btn.setAttribute('disabled', true)

        let select = document.getElementById('id_doc_form-archive_id')
        let archive_name = document.getElementById("id_archive_form-archive_name")
        let archive_team = document.getElementById("id_archive_form-archive_team")
        let archive_unit = document.getElementById("id_archive_form-archive_unit")
        let archive_number = document.getElementById("id_archive_form-archive_number")
        $.ajax({
            type:'POST',
            url:'{% url "dodaj-dokument" %}',
            data:
            {
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                'archive_form-archive_name':$("#id_archive_form-archive_name").val(),
                'archive_form-archive_team':$("#id_archive_form-archive_team").val(),
                'archive_form-archive_unit':$("#id_archive_form-archive_unit").val(),
                'archive_form-archive_number':$("#id_archive_form-archive_number").val(),
                'archive_form': ''
            },
            success:function(){
                $('#archiveModal').modal('hide');
                save_btn.innerHTML = "Save"
                save_btn.removeAttribute('disabled')
                let opt = document.createElement('option');
                opt.value = $('#id_doc_form-archive_id option:last').val();
                opt.value = parseInt(opt.value) + 1
                opt.innerHTML = archive_name.value + "/" + archive_team.value  + "/" + archive_unit.value + "/" + archive_number.value;
                select.appendChild(opt);
                archive_name.value = null
                archive_team.value = null
                archive_unit.value = null
                archive_number.value = null
            },

            error:function (){
                $('#authorModal').modal('hide');
                save_btn.innerHTML = 'Save'
                save_btn.removeAttribute('disabled')
            }
            })



    });
    </script>
{% endblock content %}