{% extends "map_browser/base.html" %}
{% load templatehelper %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    <title>Wyszukaj</title>
{% endblock title %}
{% block content %}
    <div class="row mb-4">
        <div class="col-4">
            <a class="btn btn-secondary" href="{% url 'wyszukaj-dokument' %}">Wyszukaj dokumenty</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 pe-4">
            <div>
                <form method="get">
                    {{ filter.form|crispy }}
                    <div class="d-flex flex-row-reverse">
                        <button type="submit" class="btn btn-secondary">Szukaj</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <div class="tab-pane fade show active" id="maps" role="tabpanel" aria-labelledby="maps-tab">
                {% if map_list %}
                <div id="box" class="row row-cols-sm-1 row-cols-md-3 g-4">
                {% for map in object_list %}
                    <a class="card-as-link" href="{% url 'szczegoly-mapy' map.pk %}">
                    <div class="card md-m-4 sm-m-1">
                        <img src="{{ map.thumbnail.url }}" class="mapa card-img-top" alt="map_image">
                        <div class="card-body">
                                <p class="card-text">{{ map.full_title|truncatechars:100 }}</p>
                        </div>
                    </div>
                    </a>
                {% endfor %}
                </div>
                {% else %}
                    <div class="d-flex justify-content-center align-items-mid">
                        <div>
                            <div class="d-flex justify-content-center align-items-center">
                                <img src="{% static "map_browser/images/search-remove-icon.png" %}" alt="Brak wyników" style="max-height: 150px">
                            </div>
                            <h3 class="text-center">Brak wyników!</h3>
                            <h5 class="text-center">Nie udało się znaleźć żadnej mapy pasującej do podanych wartości, sprawdź pisownie lub spróbuj innych opcji</h5>
                        </div>
                    </div>
            {% endif %}
                {% if is_paginated %}
                <nav aria-label="dokumenty-paginator" >
                    <ul class="pagination justify-content-end mt-4">
                        {% if page_obj.has_previous %}
                            {% if not page_obj.previous_page_number == 1 %}
                            <li class="page-item">
                                <a class="page-link" href="{% relative_url i 'page' request.GET.urlencode %}&page=1">&laquo; 1</a>
                            </li>
                            {% endif %}
                            <li class="page-item">
                                <a class="page-link" href="{% relative_url i 'page' request.GET.urlencode %}&page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                            </li>
                        {% endif %}
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">{{ page_obj.number }}</span>
                        </li>

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="{% relative_url i 'page' request.GET.urlencode %}&page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                            </li>
                            {% if not page_obj.next_page_number == page_obj.paginator.num_pages %}
                                <li class="page-item">
                                    <a class="page-link" href="{% relative_url i 'page' request.GET.urlencode %}&page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }} &raquo; </a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}

