{% extends "map_browser/base.html" %}
{% block title %}
    <title>Przeglądaj mapy</title>
{% endblock title %}

{% block content %}
    <div class="row row-cols-sm-1 row-cols-md-3">
    {% for map in object_list %}
        <a class="card-as-link" href="map/{{ map.id }}">
        <div class="card md-m-4 sm-m-1">
            <img src="{{ map.thumbnail.url }}" class="mapa card-img-top" alt="map_image">
            <div class="card-body">
                    <p class="card-text">{{ map.full_title|truncatechars:100 }}</p>
            </div>
        </div>
        </a>
    {% endfor %}
    </div>
    {% if is_paginated %}
        <nav aria-label="mapy-paginator" style="float: right">
            <ul class="pagination mt-4">
                {% if page_obj.has_previous %}
                    {% if not page_obj.previous_page_number == 1 %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">&laquo; 1</a>
                    </li>
                    {% endif %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                    </li>
                {% endif %}

                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{ page_obj.number }}</span>
                </li>

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                    </li>
                    {% if not page_obj.next_page_number == page_obj.paginator.num_pages %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }} &raquo; </a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock content %}