{% extends "map_browser/base.html" %}
{% load templatehelper %}
{% block title %}
    <title>Przeglądaj mapy</title>
{% endblock title %}

{% block content %}
    <div class="row">
        {#    search    #}
        <div class="col-md-3 col-6 mb-3 offset-md-9 offset-6">
            <form method="get">
                <div class="input-group">
                    <label for="search"></label>
                    <input id="search" name="title" class="form-control" {% if title %} value="{{ title }}" {% else %}placeholder="Wpisz tytuł..."{% endif %}>
                    <div class="input-group-append">
                        <button class="search-btn btn btn-secondary" type="submit">Szukaj</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="tab-pane fade show active" id="maps" role="tabpanel" aria-labelledby="maps-tab">
        {% if map_list %}
            <div id="box" class="row row-cols-sm-1 row-cols-md-3 g-4">
            {% for map in map_list %}
                <a class="card-as-link" href="{% url 'map-detail' map.pk %}">
                <div class="card map-card md-m-4 sm-m-1">
                    <img src="{{ map.thumbnail.url }}" class="mapa card-img-top" alt="map_image">
                    <div class="card-body">
                            <p class="card-text">{{ map.full_title|truncatechars:100 }}</p>
                    </div>
                </div>
                </a>
            {% endfor %}
            </div>
        {% else %}
            <h1>Brak Wyników!</h1>
        {% endif %}
        {% if is_paginated %}
        <nav aria-label="dokumenty-paginator" >
            <ul class="pagination justify-content-end mt-4">
                {% if page_obj.has_previous %}
                    {% if not page_obj.previous_page_number == 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{% relative_url i 'page' request.GET.urlencode %}&page=1">&laquo; 1</a>
                    </li>
                    {% endif %}
                    <li class="page-item">
                        <a class="page-link" href="{% relative_url i 'page' request.GET.urlencode %}&page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                    </li>
                {% endif %}

                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{ page_obj.number }}</span>
                </li>

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{% relative_url i 'page' request.GET.urlencode %}&page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                    </li>
                    {% if not page_obj.next_page_number == page_obj.paginator.num_pages %}
                        <li class="page-item">
                            <a class="page-link" href="{% relative_url i 'page' request.GET.urlencode %}&page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }} &raquo; </a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
{% endblock content %}
