{% extends "map_browser/base.html" %}
{% load static %}
{% block title %}
    {% if object.full_title %}
        <title>{{ object.full_title }}</title>
    {% else %}
        <title>Pzeglądaj Mapy</title>
    {% endif %}
{% endblock title %}

{% block content %}
    <div class="row">
        <h1>{{ object.full_title }}</h1>
        <h6>{{ object.short_title }}</h6>
        <div>
            <div class="row">
                <div class="col d-flex">
                    <span class="me-2">{{ object.added_at| date:"d/m/Y" }}</span>
                </div>
                <div class="col d-flex justify-content-end">
                    {% if user in object.creator.all or user.is_superuser %}
                        <span class="me-4"><a href="{% url 'edytuj' object.id %}"><img class="action-buttons-detail" style="max-width: 16px" src="{% static 'map_browser/images/pencil.png' %}" alt="Edytuj"></a></span>
                        <span><a href="{% url 'usun' object.id %}"><img class="action-buttons-detail" style="max-width: 16px" src="{% static 'map_browser/images/bin.png' %}" alt="Usuń"></a></span>
                    {% endif %}
                </div>
            </div>
        </div>
        <h5>{% for type in object.subject_type.all %}<span class="badge rounded-pill bg-secondary mt-3">{{ type }}</span> {% endfor %}</h5>
    </div>

    {% if prev_map %}
        <a class="" href="{% url 'map-detail' prev_map.id %}">&laquo; Poprzednia</a>
    {% endif %}
    {% if prev_map and next_map %}
         |
    {% endif %}
    {% if next_map is not None %}
        <a href="{% url 'map-detail' next_map.id %}">Następna &raquo;</a>
    {% endif %}

{#    {{ next_map }}#}
{#    {{ prev_map }}#}

    <div class="row row-cols-md-2 row-cols-1">
        <div class="col">
           <img src="{{ object.thumbnail.url }}" class="img-fluid" alt="detail_image">
            <p>Zdjęcie wyświelone powyżej jest tylko miniaturką, <a target="_blank" href="{{ object.filename.url }}" download="" >kliknij tutaj aby zobaczyć mapę w pełnej rozdzielczości</a></p>
        </div>
        <div class="col">

            {% if object.description %}
                <h5><strong>Opis</strong></h5>
                <p>
                    {{ object.description|linebreaksbr }}
                </p>
            {% endif %}

            <div class="accordion" id="accordionPanelsStayOpenExample">
                {% if object.language_id or object.authors or object.publication_place or object.created_at %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="mapaDane-headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#mapaDane-collapseOne" aria-expanded="true" aria-controls="mapaDane-collapseOne">
                            Podstawowe Informacje
                        </button>
                    </h2>
                    <div id="mapaDane-collapseOne" class="accordion-collapse collapse show" aria-labelledby="mapaDane-headingOne">
                        <div class="accordion-body">
                            {% if object.language_id %}
                                <p><strong>Język mapy:</strong>
                                    {% for lang in object.language_id.all %}
                                        {% if not forloop.last %}
                                            {{ lang }},
                                        {% else %}
                                            {{ lang }}
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            {% endif %}

                            {% if object.authors.all %}
                                {% if object.authors.all|length == 1 %}
                                    <p><strong>Twórca Mapy:</strong>
                                {% else %}
                                    <p><strong>Twórcy Mapy:</strong>
                                {% endif %}
                                    {% for author in object.authors.all %}
                                        {% if forloop.last %}
                                            {{ author }}
                                        {% else %}
                                            {{ author }},
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            {% else %}
                                <p><strong>Autor nieznany</strong></p>
                            {% endif %}

                            {% if object.publication_place %}
                                <p><strong>Miejsce Wydania: </strong>{{ object.publication_place|linebreaksbr }} </p>
                            {% endif %}

                            {% if object.created_at %}
                                <p><strong>Rok Wydania: </strong>{{ object.created_at }} </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if object.keyword_geo or object.keyword_name or object.keyword_subject %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="mapaDane-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#mapaDane-collapseTwo" aria-expanded="false" aria-controls="mapaDane-collapseTwo">
                            Słowa Kluczowe
                        </button>
                    </h2>
                    <div id="mapaDane-collapseTwo" class="accordion-collapse collapse" aria-labelledby="mapaDane-headingTwo">
                        <div class="accordion-body">
                            {% if object.keyword_geo %}
                                <p><strong>Słowa kluczowe geograficzne:</strong>
                                {{ object.keyword_geo }}</p>
                            {% endif %}
                            {% if object.keyword_name %}
                                <p><strong>Słowa kluczowe imienne:</strong>
                                    {{ object.keyword_name }}</p>
                            {% endif %}
                            {% if object.keyword_subject %}
                                <p><strong>Słowa kluczowe rzeczowe:</strong>
                                {{ object.keyword_subject }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if object.document_set.count > 0 %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="mapaDane-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#mapaDane-collapseThree" aria-expanded="false" aria-controls="mapaDane-collapseThree">
                            Powiązane Dokumenty
                        </button>
                    </h2>
                    <div id="mapaDane-collapseThree" class="accordion-collapse collapse" aria-labelledby="mapaDane-headingThree">
                        <div class="accordion-body">
                                <ul class="list-group mt-2">
                                {% for doc in object.document_set.all %}
                                    <li class="list-group-item"><a href={% url 'doc-detail' doc.id %}>{{ doc.title }}</a></li>
                                {% endfor %}
                                </ul>
                        </div>
                    </div>
                </div>
                {% endif %}
        </div>
    </div>
{% endblock content %}