{% extends "map_browser/base.html" %}
{% block title %}
    <title>Usuń mapę | {{ object.full_title }}</title>
{% endblock title %}
{% block content %}

<form method="post">
    {% csrf_token %}
    <p class="align-middle">Czy na pewno chcesz usunąć mapę "{{ object.full_title }}"?</p>
    <button class="btn btn-primary" type="submit" value="Confirm">Usuń</button>
    <button class="btn btn-outline-secondary" type="button"><a style="text-decoration: none" href="{% url 'szczegoly-mapy' object.pk %}">Wróc</a></button>
</form>
{% endblock content %}