{% extends "map_browser/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Edytuj mapę</title>
{% endblock title %}
{% block content %}
    {% for field, errors in form.errors.items %}
        {% for error in errors %}
        {% endfor %}
    {% endfor %}
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex flex-row-reverse">
            <button type="submit" name="map_form" class="btn btn-primary">Zapisz</button>
        </div>
    </form>
{% endblock content %}