html {
  overflow-y: scroll;
}

nav{
    filter: drop-shadow(0 0 0.5rem #8f8f8f);
    margin-bottom: 30px;
}

nav > div{
    margin: 0 45px !important;
}

.nav_img{
    max-height: 50px !important;
    width: auto;
}

#container{
        margin: 0 60px !important;
}

.mapa{
    border-radius: 15px;
    padding: 10px;
    max-width: 100%;
}

#login-form img {
    max-height: 100px;
}

.row>*  {
    padding-left: 0 !important;
}

.row  {
    padding-left: calc(var(--bs-gutter-x) * .5);
}

